.loginText {
    color: #117a8b;
    /* font-weight: bold; */
    cursor: pointer;
}

.register{
    /* min-height: 540px; */
    min-width:350px !important;
    margin:auto;
}

.register .card {
    min-width: 100% !important;
    position: relative;
    margin: 0 auto;
    background: #e9ecefcc;
    padding: 30px;
    border: 1px solid;
    /* border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4); */
    border-color:rgba(255,255,255,.4);

}

.register .card .register-title{
    font-size: 32px;
	font-weight: 600;
	padding-bottom: 10px;
	text-align: center;
}
.register .card .register-form{
    min-width: 250px !important;

}
.successMessage {
    color: green;
    font-weight: bold;
}

.error {
    color:#ca3b27;
    font-size: 0.8em;
    display: relative;
  }

.form-error{
    box-sizing: border-box !important;
    display: block !important;
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
    font-weight: 400 !important;
    position: relative !important;
    background-color: #feefeb !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 30px !important;
    padding-left: 24px !important;
    border-left: 4px solid #ca3b27 !important;
    /* margin-bottom: 24px !important; */
    margin-top: 24px !important;

}


.login-message {
    margin-top: 2vh;
    text-align:left !important;   
    font-size: 12px !important;
}

.login-message span{   
    font-size: 12px !important;
}

